Repository posse-ap/possy: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run lint {staged_files}
    format:
      glob: "*.{js,ts,jsx,tsx,json,css,md,yml}"
      run: npm run format {staged_files}

add types
  src/components/page/MentorSurveyDone/MentorSurveyDone.tsx
Due: lint, format

init supabase mock
  src/libs/__mocks__/supabaseClient.ts
  src/libs/__mocks__/supabaseServer.ts
Due: lint, format

add mock supabase
  src/usecases/mentorResponse/listMentorResponses.test.ts
  src/usecases/mentorResponse/submitMentorResponse.test.ts
  src/usecases/survey/createSurvey.test.ts
  src/usecases/survey/getSurvey.test.ts
  src/usecases/survey/listSurveys.test.ts
Due: lint, format

delete mock
  src/usecases/mentorResponse/submitMentorResponse.test.ts
Due: lint, format

delete mock
  src/usecases/mentorResponse/listMentorResponses.test.ts
  src/usecases/mentorResponse/submitMentorResponse.test.ts
Due: lint, format

docs: :memo: update env.example
  .env.example
Due: none

feat: :memo: add local
  README.md
Due: format

カレンダを抑える際にtitleを修正
  src/usecases/mentorResponse/submitMentorResponse.ts
Due: lint, format
