Repository posse-ap/possy: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run lint {staged_files}
    format:
      glob: "*.{js,ts,jsx,tsx,json,css,md,yml}"
      run: npm run format {staged_files}

add プライバシーポリシー
  src/app/layout.tsx
  src/app/page.tsx
  src/app/privacy/page.tsx
  src/components/layout/Footer.tsx
  src/components/layout/index.ts
  src/components/model/Auth/LoginButton.tsx
Due: lint, format

不要なボタンを削除
  src/components/page/OrganizerSurveyDetail/OrganizerSurveyDetail.tsx
Due: lint, format

クライアントとサーバーで分けた
  src/libs/supabaseClient.ts
  src/libs/supabaseServer.ts
Due: lint, format

呼び出し方を修正した
  src/repositories/persistence/mentorResponseRepository.ts
  src/repositories/persistence/surveyRepository.ts
Due: lint, format

refresh tokenを追加
  src/app/api/calendar/events/route.ts
  src/libs/googleApi.ts
  src/repositories/googleCalendar/calendarRepository.ts
Due: lint, format

認証を確認するようにした
  src/app/layout.tsx
Due: lint, format

呼び出し方変更
  src/app/api/mentor-responses/[surveyId]/route.ts
  src/app/api/mentor-responses/list/[surveyId]/route.ts
  src/app/api/surveys/route.ts
  src/app/organizer/[surveyId]/page.tsx
Due: lint, format

lint
  src/app/mentor/[surveyId]/page.tsx
Due: lint, format

認証チェック
  src/app/page.tsx
Due: lint, format

fix
  src/middleware.ts
Due: lint, format

全体で認証のcheckは不要なので削除した
  src/app/layout.tsx
Due: lint, format

認証しているかどうかで判定切り替えた
  src/app/page.tsx
Due: lint, format

ログアウトを実装
  src/app/auth/actions.ts
  src/components/model/Auth/LogoutButton.tsx
Due: lint, format

sessionがあるかどうかチェックするようにした
  src/libs/supabaseServer.ts
Due: lint, format

ヘッダーを作成した
  src/app/layout.tsx
  src/components/layout/AuthButton.tsx
  src/components/layout/Header.tsx
  src/components/layout/index.ts
Due: lint, format

google認証が必要な箇所では認証がなかったら別の場所に遷移するようにした
  src/app/mentor/[surveyId]/layout.tsx
  src/app/organizer/[surveyId]/layout.tsx
  src/components/page/MentorSurvey/MentorSurvey.tsx
Due: lint, format

不要なファイルと間違っているaliasを修正
  components.json
  src/components/ui/Button/button.tsx
  src/components/ui/Select/select.tsx
  src/components/ui/Tooltip/tooltip.tsx
  src/lib/utils.ts
Due: lint, format

22時以降に予定を入れてもUIが変わらないようにした
  src/components/model/mentorResponse/MentorResponseForm/MentorResponseForm.tsx
  src/components/model/slot/SlotEditor/SlotEditor.tsx
Due: lint, format

fix readme
  README.md
Due: format

重複アリで選択できるようにした
  src/components/model/calendar/CalendarView/CalendarView.tsx
Due: lint, format

feat: :tada: init vitest
  package-lock.json
  package.json
  vitest.config.ts
  vitest.setup.ts
Due: lint, format

test: :sparkles: add unit test
  src/models/mentorResponse/mentorResponseValidators.test.ts
  src/models/slot/slotFormat.test.ts
  src/models/slot/slotUtils.test.ts
Due: lint, format

refactor:
  src/repositories/googleSheets/sheetsRepository.ts
  src/repositories/persistence/mentorResponseRepository.ts
Due: lint, format

test: :sparkles: add mock
  src/repositories/googleCalendar/__mocks__/calendarRepository.ts
  src/repositories/googleSheets/__mocks__/sheetsRepository.ts
  src/repositories/persistence/__mocks__/mentorResponseRepository.ts
  src/repositories/persistence/__mocks__/surveyRepository.ts
Due: lint, format

add usecase test
  src/usecases/mentorResponse/listMentorResponses.test.ts
  src/usecases/mentorResponse/submitMentorResponse.test.ts
  src/usecases/survey/createSurvey.test.ts
  src/usecases/survey/getSurvey.test.ts
  src/usecases/survey/listSurveys.test.ts
Due: lint, format

add test
  README.md
Due: format

install vitest coverage
  package-lock.json
  package.json
  vitest.config.ts
Due: lint, format

init CI
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: format

pnpm install
  pnpm-lock.yaml
Due: none

init pnpm
  .github/workflows/build.yml
  .github/workflows/ci.yml
  package-lock.json
Due: format

--no-frozen-install
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: format

revert change
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: format

pnpm approve-builds
  pnpm-workspace.yaml
Due: none

delete
  pnpm-workspace.yaml
Due: none

change command
  .github/workflows/ci.yml
Due: format

update pnpm version
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: format

biome lint
  package.json
Due: format

pnpm run lint
  src/app/api/calendar/events/route.ts
  src/app/api/mentor-responses/list/[surveyId]/route.ts
  src/app/api/surveys/route.ts
  src/app/auth/callback/page.tsx
  src/app/privacy/page.tsx
  src/components/model/Auth/LoginButton.tsx
  src/components/page/MentorSurveyDone/MentorSurveyDone.tsx
  src/components/ui/Button/button.tsx
  src/components/ui/Select/select.tsx
  src/components/ui/Tooltip/index.ts
  src/components/ui/Tooltip/tooltip.tsx
  src/hooks/useGoogleLogin.ts
  src/libs/googleApi.ts
  src/models/mentorResponse/mentorResponseValidators.test.ts
  src/models/mentorResponse/mentorResponseValidators.ts
  src/models/slot/slotFormat.test.ts
  src/models/slot/slotUtils.test.ts
  src/repositories/googleCalendar/__mocks__/calendarRepository.ts
  src/repositories/googleCalendar/calendarRepository.ts
  src/repositories/googleSheets/sheetsRepository.ts
  src/repositories/persistence/__mocks__/surveyRepository.ts
  src/repositories/persistence/surveyRepository.ts
  src/types/posse.ts
  src/usecases/mentorResponse/listMentorResponses.test.ts
  src/usecases/mentorResponse/submitMentorResponse.ts
  src/usecases/survey/createSurvey.test.ts
  src/usecases/survey/getSurvey.test.ts
  src/usecases/survey/listSurveys.test.ts
Due: lint, format

delete paclage version
  package.json
Due: format
