Repository posse-ap/possy: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run lint {staged_files}
    format:
      glob: "*.{js,ts,jsx,tsx,json,css,md,yml}"
      run: npm run format {staged_files}

初期スキーマを作成し、surveysおよびmentor_responsesテーブルを追加
  supabase/migrations/20251230063019_initial_schema.sql
Due: none

シードデータを追加し、mentor_responsesおよびsurveysテーブルの初期データを挿入
  supabase/seed.sql
Due: none

シードデータのIDを修正し、mentor_responsesおよびsurveysテーブルの整合性を向上
  supabase/seed.sql
Due: none

mentor_responsesテーブルからspreadsheet_row_numberカラムを削除
  supabase/migrations/20251230063019_initial_schema.sql
  supabase/seed.sql
Due: none

Add API routes for submitting and listing mentor responses, and fetching surveys
  src/app/api/mentor-responses/[surveyId]/route.ts
  src/app/api/mentor-responses/list/[surveyId]/route.ts
  src/app/api/surveys/[surveyId]/route.ts
  src/app/api/surveys/route.ts
Due: lint, format

Fetch survey data for mentor survey page and update rendering logic
  src/app/mentor/[surveyId]/page.tsx
Due: lint, format

Refactor survey detail and organizer pages to fetch data from API instead of dummy data
  src/app/organizer/[surveyId]/page.tsx
  src/app/organizer/page.tsx
Due: lint, format

Refactor MentorSurvey and OrganizerSurvey components to remove dummy data and implement API integration for fetching responses and surveys
  src/components/page/MentorSurvey/MentorSurvey.tsx
  src/components/page/OrganizerSurveyDetail/OrganizerSurveyDetail.tsx
  src/components/page/OrganizerSurveyList/OrganizerSurveyList.tsx
Due: lint, format

Fix import path for Slot type in MentorResponse model
  src/models/mentorResponse/mentorResponse.ts
Due: lint, format

Implement Google Calendar and Sheets repositories with basic CRUD operations
  src/repositories/googleCalendar/calendarRepository.ts
  src/repositories/googleCalendar/index.ts
  src/repositories/googleSheets/index.ts
  src/repositories/googleSheets/sheetsRepository.ts
  src/repositories/persistence/index.ts
  src/repositories/persistence/mentorResponseRepository.ts
  src/repositories/persistence/surveyRepository.ts
Due: lint, format

Add mentor response handling and survey retrieval use cases
  src/usecases/mentorResponse/index.ts
  src/usecases/mentorResponse/listMentorResponses.ts
  src/usecases/mentorResponse/submitMentorResponse.ts
  src/usecases/survey/getSurvey.ts
  src/usecases/survey/index.ts
  src/usecases/survey/listSurveys.ts
Due: lint, format

install: supabase-ssr
  package-lock.json
  package.json
Due: format

add icon
  public/google.svg
Due: none

feat: loginGoogle Button
  src/components/model/Auth/LoginButton.tsx
  src/components/model/Auth/index.ts
  src/hooks/useGoogleLogin.ts
Due: lint, format

add Button
  src/app/page.tsx
Due: lint, format

add middleware
  src/middleware.ts
Due: lint, format

Refactor mentor response slots storage to JSONB in mentor_responses table for improved efficiency
  supabase/migrations/20251230073529_add_mentor_response_slots.sql
  supabase/migrations/20251230073859_refactor_slots_to_jsonb.sql
Due: none

chore: update dependencies in package.json
  package-lock.json
  package.json
Due: format

feat: add middleware for Supabase authentication and protected routes
  src/middleware.ts
Due: lint, format

feat: add Google login button to the home page
  src/app/page.tsx
Due: lint, format

feat: implement Google authentication for mentor responses and surveys
  src/app/api/auth/google/route.ts
  src/app/api/mentor-responses/[surveyId]/route.ts
  src/app/api/mentor-responses/list/[surveyId]/route.ts
Due: lint, format

feat: add access token retrieval and spreadsheet ID extraction for mentor responses
  src/app/organizer/[surveyId]/page.tsx
Due: lint, format

feat: add Google API client functions and Supabase server-side client for access token retrieval
  src/libs/googleApi.ts
  src/libs/supabaseClient.ts
Due: lint, format

feat: implement Google Calendar and Sheets API integration for event management and mentor responses
  src/repositories/googleCalendar/calendarRepository.ts
  src/repositories/googleSheets/sheetsRepository.ts
  src/repositories/persistence/mentorResponseRepository.ts
Due: lint, format

feat: add access token support for Google Sheets and Calendar integration in mentor response handling
  src/usecases/mentorResponse/listMentorResponses.ts
  src/usecases/mentorResponse/submitMentorResponse.ts
Due: lint, format

UI: Improve login button layout on home page
  src/app/page.tsx
Due: lint, format

feat: add LogoutButton component for user authentication
  src/components/model/Auth/LogoutButton.tsx
  src/components/model/Auth/index.ts
Due: lint, format

feat: refactor middleware for Supabase authentication and improve cookie handling
  src/middleware.ts
Due: lint, format

呼び出されていない処理を削除
  src/repositories/googleSheets/sheetsRepository.ts
Due: lint, format

シートが存在しないことはないので、作成する処理を削除
  src/repositories/googleSheets/sheetsRepository.ts
Due: lint, format

メンターが回答する際に必要な選択肢を追加
  src/models/mentorResponse/mentorResponse.ts
  src/repositories/googleSheets/sheetsRepository.ts
  src/types/posse.ts
  src/usecases/mentorResponse/submitMentorResponse.ts
Due: lint, format

feat: update .env.example with Google API configuration for server-side API calls
  .env.example
Due: none

feat: update middleware to handle session refresh and adjust route matching
  src/middleware.ts
Due: lint, format

feat: implement Supabase authentication callback with GET and POST handlers
  src/app/api/auth/callback/route.ts
Due: lint, format

feat: add GET endpoint for fetching calendar events with Supabase authentication
  src/app/api/calendar/events/route.ts
Due: lint, format

feat: await access token retrieval from Supabase session in POST and GET handlers
  src/app/api/mentor-responses/[surveyId]/route.ts
  src/app/api/mentor-responses/list/[surveyId]/route.ts
Due: lint, format

feat: implement POST handler for creating surveys with Supabase authentication
  src/app/api/surveys/route.ts
Due: lint, format

feat: add authentication callback page with error handling for Google authentication
  src/app/auth/auth-code-error/page.tsx
  src/app/auth/callback/page.tsx
Due: lint, format

feat: remove unused authentication callback route
  src/app/auth/callback/route.ts
Due: lint, format

feat: add start and end date props to MentorSurvey component
  src/app/mentor/[surveyId]/page.tsx
  src/app/organizer/[surveyId]/page.tsx
Due: lint, format
